# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.p7_C00299690_C00299553.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
